{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<main>

    <!-- Post Details Start -->
    <div class="post-details pb-80">
        <div class="container">
            <!-- Post's Image Start -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="details-img mb-40">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="img-fluid" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                            width="100%">
                        {% else %}
                        <img class="img-fluid" src=" {{ post.featured_image.url }}" width="100%">
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Post's Image End -->
            <!-- Post's text Start -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="about-details-cap">
                        <h2 class="post-title title-color">{{ post.title }}</h2>
                        <p class="post-subtitle">{{ post.author }} | {{ post.created_on }} </p>
                        {% if user.is_superuser %}
                        <a href="#">Edit</a>
                        <a href="#">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="about-details-cap">
                        <p class="mb-30">{{ post.content | safe }}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1">
                        <strong class="like-check">
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST" id="likedata">
                                {% csrf_token %}
                                {% if liked %}

                                <button type="submit" name="magpost_id" value="{{ post.slug }}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>

                                {% else %}

                                <button type="submit" name="magpost_id" value="{{ post.slug }}" class="btn-like"><i
                                        class="far fa-heart"></i></button>

                                {% endif %}

                            </form>
                            {% else %}

                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes }}</span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="fa-solid fa-comment"></i> {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
                <!-- Social -->
                <div class="social-icon p-0">
                    <a href="#" target="_blank">
                        <img class="mr-10 mb-10" src="/static/images/facebook.png" alt="Facebook sharing link">
                    </a>
                    <a href="#" target="_blank">
                        <img class="mr-10 mb-10" src="/static/images/twitter.png" alt="Twitter sharing link">
                    </a>
                </div>
            </div>
            <!-- Post's Text End -->
            <!-- Comments Section Start -->
            <div class="comments-area pb-80">
                <div class="container p-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="small-tittle mb-30">
                                <h2>Comments:</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            {% for comment in comments %}
                            <div class="comments" style="padding: 10px;">
                                <p class="font-weight-bold capital">
                                    {{ comment.name }}
                                    <span class="author no-bold">Author</span>
                                </p>
                                <span class="text-muted time-comment">
                                    {{ comment.created_on }}
                                </span>
                                {{ comment.body | linebreaks }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-12 card mb-4  mt-3 ">
                        <div class="card-body comment-box">

                            {% if commented %}
                            <div class="alert alert-success" role="alert">
                                Your comment is awaiting approval
                            </div>
                            {% else %}

                            {% if user.is_authenticated %}

                            <h3>Drop your comment:</h3>
                            <p class="text-muted">Posting as: {{ user.username }}</p>
                            <form method="post" style="margin-top: 1.3em;">
                                {{ comment_form | crispy }}
                                {% csrf_token %}
                                <button type="submit" class="submit-btn-comment">Submit</button>
                            </form>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Comments Section End -->
        </div>
    </div>

</main>

{% endblock content %}